<div class="bg-[#f8f8f8] min-h-[100vh]">
	<app-header *ngIf="isHeader"></app-header>
	<div class="flex"[ngStyle]="{'min-height': (isHeader === 1 && isSidebar === 1) ? 'calc(100vh - 80px)' : '100vh'}">
		<app-sidebar *ngIf="isSidebar"></app-sidebar>
		<div class="flex-1 "[ngStyle]="{'min-height': (isHeader === 1 && isSidebar === 1) ? 'calc(100vh - 80px)' : '100vh'}"
			[ngStyle]="{'padding': (isHeader === 1 && isSidebar === 1) ? '16px' : ''}">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>