<div class="relative p-6">
    <img src="../../../assets/images/Logo.png" alt="" class="absolute left-4 top-4">
    <div class="flex px-10">
        <img class=" w-[75%] max-w-[500px]" src="../../../assets/images/login-image.png" alt="">
        <div class="flex w-full justify-center">
            <h1 class="font-bold text-2xl">Login</h1>
            <div>

            </div>
        </div>
    </div>
    <img src="../../../assets/images/login-pattern.png" alt="" class="absolute right-0 bottom-0">
</div>
