<div class="bg-white w-[240px] h-full py-4 overflow-y-auto">
    <ul class="p-0 flex flex-col gap-2 pr-4 text-base">
        <li>
            <a routerLinkActive="bg-[#e7eaef] active" [routerLinkActiveOptions]="{exact:true}" routerLink="" class="flex items-center gap-3 px-4 py-2 rounded-e-full">
                <img src="./assets/images/dashboard-icon.svg" class="w-5 h-5" alt="">
                <img src="./assets/images/dashboard-active.svg" class="w-5 h-5" alt="">
                Dashboard
            </a>
        </li>
        <li>
            <a routerLinkActive="bg-[#e7eaef] active" [routerLinkActiveOptions]="{exact:true}" routerLink="/admin" class="flex items-center gap-3 px-4 py-2 rounded-e-full">
                <img src="./assets/images/admin.svg" class="w-5 h-5" alt="">
                <img src="./assets/images/admin-active.svg" class="w-5 h-5" alt="">
                Admin
            </a>
        </li>
        <li>
            <a routerLinkActive="bg-[#e7eaef] active" [routerLinkActiveOptions]="{exact:true}" routerLink="/pca" class="flex items-center gap-3 px-4 py-2 rounded-e-full"> 
                <img src="./assets/images/pca.svg" class="w-5 h-5" alt="">
                <img src="./assets/images/pca-active.svg" class="w-5 h-5" alt="">
                PCA
            </a>
        </li>
        <li>
            <a routerLinkActive="bg-[#e7eaef] active" [routerLinkActiveOptions]="{exact:true}" routerLink="/tasks" class="flex items-center gap-3 px-4 py-2 rounded-e-full"> 
                <img src="./assets/images/tasks.svg" class="w-5 h-5" alt="">
                <img src="./assets/images/tasks-active.svg" class="w-5 h-5" alt="">
                Tasks
            </a>
        </li>
        <li>
            <a routerLinkActive="bg-[#e7eaef] active" [routerLinkActiveOptions]="{exact:true}" routerLink="/clients" class="flex items-center gap-3 px-4 py-2 rounded-e-full"> 
                <img src="./assets/images/clients.svg" class="w-5 h-5" alt="">
                <img src="./assets/images/clients-active.svg" class="w-5 h-5" alt="">
                Clients
            </a>
        </li>
        <li>
            <a routerLinkActive="bg-[#e7eaef] active" [routerLinkActiveOptions]="{exact:true}" routerLink="/calender" class="flex items-center gap-3 px-4 py-2 rounded-e-full"> 
                <img src="./assets/images/calender.svg" class="w-5 h-5" alt="">
                <img src="./assets/images/calender-active.svg" class="w-5 h-5" alt="">
                Calender
            </a>
        </li>
        <li>
            <a routerLinkActive="bg-[#e7eaef] active" [routerLinkActiveOptions]="{exact:true}" routerLink="/chats" class="flex items-center gap-3 px-4 py-2 rounded-e-full"> 
                <img src="./assets/images/chats.svg" class="w-5 h-5" alt="">
                <img src="./assets/images/chats-active.svg" class="w-5 h-5" alt="">
                Chats
            </a>
        </li>
    </ul>
    <div class="border-t border-[#a8a8a8] py-5 mt-10 ">
        <a routerLink="/login" class="flex items-center gap-3 px-4 py-2 rounded-e-full">
            <img src="./assets/images/logout.svg" class="w-10 h-10" alt="">
            Logout
        </a>
    </div>
</div>